html {
    font-size: 16px;
}

body,
span {
    font-family: "Inter" !important;
    font-weight: 500 !important;
}

body {
    padding-top: 50px;
    background: none !important;
}
#middle,
#foot,
#main_content {
    background-color: #fff;
}
#middle {
    padding-top: 0px !important;
}
#main_content {
    max-width: 1200px !important;
    background-color: #fff;
}
/* Cookie forms */
.stpd_cmp_form,
.stpd_cmp_wrapper,
.stpd_cmp,
#c-p-bn,
#s-all-bn,
#s-sv-bn,
.c {
    display: none !important;
}

#c-s-bn,
#s-rall-bn {
    background-color: #a2ecff;
}

/* Footer  */
#zmtVersion {
    padding-left: 20vw;
}

/*
Desktop Navigation
*/

#head,
#head-mobile {
    display: none;
}

#zmt-desktop-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 9999;
}

#zmt-desktop-nav .zmt-center {
    display: flex;
    gap: 10px;
    flex: 1;
    justify-content: center;
    overflow: hidden;
}

#zmt-desktop-nav .zmt-left,
#zmt-desktop-nav .zmt-right {
    display: flex;
    align-items: center;
    min-width: 100px;
}

#zmt-desktop-nav .zmt-right {
    justify-content: flex-end;
}

#zmt-desktop-nav a {
    display: flex;
    align-items: center;
    justify-content: center;

    background: none;
    border: none;
    color: black;
    font-size: clamp(12px, 2vw, 18px);
    height: 40px;
    padding: 0 12px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

#zmt-desktop-nav a:hover {
    background-color: #92e9ffff !important;
}

#zmt-desktop-nav a img {
    display: block;
    width: 24px;
    height: 24px;
}

#zmt-desktop-nav .logo {
    display: block;
    width: 82px;
    height: 24px;
    background: url("https://family-cdn.mykoob.lv//static/img/mykoob_logo_small.png") no-repeat center;
    background-size: contain;
}

/*
Sidebar
*/

#zmt-sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background: white;
    z-index: 10000;
    transition: right 0.3s ease;
}

#zmt-sidebar.open {
    right: 0;
}

#zmt-sidebar-top,
#zmt-sidebar-mid,
#zmt-sidebar-bot {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#zmt-sidebar-top a,
#zmt-sidebar-mid a,
#zmt-sidebar-bot a {
    border-radius: 15px;
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
}

#zmt-sidebar-top a:hover,
#zmt-sidebar-mid a:hover,
#zmt-sidebar-bot a:hover {
    background-color: #92e9ffff !important;
}

#zmt-sidebar-end-work {
    color: #c60000ff !important;
}
/*
 Mobile Devices
*/

@media (max-width: 768px) {
    html {
        font-size: 15px;
    }
    body {
        padding-top: 0px;
        padding-bottom: 70px;
    }
    #main-tabs-ul {
        overflow-x: auto;
        justify-content: flex-start;
        padding: 0 10px;
        gap: 8px;
    }

    .tta {
        flex: 0 0 auto;
        padding: 6px 10px;
        font-size: 0.9rem;
    }

    #header,
    #main_content {
        max-width: 100% !important;
        width: 100% !important;
    }

    #middle,
    #main_content {
        display: block !important;
    }

    #profile_right_data {
        max-width: 100% !important;
    }

    .top-menu-tab {
        font-size: 0.9rem;
    }

    /* Navigation */
    #zmt-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background: white;
        display: flex;
        z-index: 9999;
    }

    #zmt-nav a {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        border: none;
        background: none;
        color: black;
        font-size: 18px;
    }

    .nav-img {
        /*display: block;*/
        width: 24px !important;
        height: 24px !important;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 14px;
    }
}
