/* middle/ aktivitātes */

.main {
    width: 100% !important;
}

#middle {
    display: flex !important;
    justify-content: center;
}
#main_content {
    margin: 0% 1%;
    display: flex !important;
    justify-content: center;
}
#profile_right_data {
    max-width: 900px !important;
}
#profile_right_data .datatable td[style*="width:300px"],
#settings_content {
    display: none !important;
}
.activities-class {
    max-width: none !important;
}

/* homepage  left */

.profile-container .f1 {
    white-space: break-spaces !important;
    text-align: center;
}

.datatable .both-borders {
    border-radius: 10px;
    border: 1px solid #e2e2e3;
}

.profile-container {
    font-size: 14px !important;
    background-image: none;
    background-color: #e2e2e3;
}
.my_profile_picture {
    border-radius: 15px;
    border: solid 1px #e2e2e3;
}
#e497548c2f4d913b7901c4e51ba59207,
#profile_left_data .both-borders > div:nth-child(4),
#profile_left_data .both-borders > div:nth-child(5),
#profile_left_data .both-borders > div:nth-child(7),
#profile_left_data .both-borders > div:nth-child(8),
#profile_left_data .both-borders > div:nth-child(9),
#profile_left_data .both-borders > div:nth-child(10),
#profile_left_data .both-borders > div:nth-child(11),
#profile_left_data .both-borders > div:nth-child(12),
.seperator,
#header-opt-help a,
.roundtable-top,
.roundtable-bottom,
.mykoob-logo {
    display: none !important;
}

/* homepage right */
#activities_settings {
    color: #000 !important;
}
#activities_settings:hover {
    text-decoration: underline !important;
}
#activities_settings:before {
    content: "⚙︎ ";
    text-decoration: none;
}

@media (max-width: 768px) {
    tr:has(> #profile_right_data) {
        display: flex;
        flex-direction: column;
    }

    #profile_right_data {
        padding-left: 0 !important;
        padding-top: 15px !important;
    }

    #profile_image_wrapper,
    .profile-container {
        display: flex;
        justify-content: center;
        /*align-items: center;*/
    }
    .my_profile_picture {
        width: 40vw;
    }
    .profile-container:has(> .fr) {
        justify-content: space-around;
    }
}

@media (max-width: 480px) {
}
