/*
white mode: 
--text( #080a11 )
--bg( #e1e6f9 )
--primary( #202f69 )
--secondary( #a2ecff )


dark mode:
--text( #eef0f7 )
--bg( #060b1e)
--primary( #96a4df)
--secondary( #00495c )
*/

/* .portfolio-wrapper .col:nth-child(5n + 1) .portfolio-box-title b */

/*header*/

#head,
.tta,
.sel,
#mtab_1,
#mtab_2,
#mtab_3,
#mtab_4,
#mtab_5,
#mtab_6,
#mtab_7,
#mtab_8,
.profile-container,
.left_corner,
.middle_border,
.right_corner {
    background-image: none !important;
    background: none !important;
}
#header {
    width: auto !important;
}
#header-top {
    display: none !important;
}
.tta,
.header-subtabs li a {
    text-shadow: none !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 15px;
    transition: 0.5s;
}
.tta:hover,
.header-subtabs li a:hover {
    background-color: #92e9ffff !important;
}
.tta span,
.header-subtabs li a span {
    color: #000 !important;
    margin: 0 8px;
    max-height: none !important;
}
#head {
    padding-top: 5px !important;
    height: 45px !important;
}

#header-bottom {
    height: auto;
    margin-top: 0px !important;
    /*background-color: #cef5ffff;*/
}
.sel,
.tta,
#mtab_1,
#mtab_2,
#mtab_3,
#mtab_4,
#mtab_5,
#mtab_6,
#mtab_7,
#mtab_8 {
    height: 45px !important;
}
.top-menu-tab {
    font-size: 16px;
}
#main-tabs-ul,
.header-subtabs {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.header-subtabs {
    margin: 0;
    flex-direction: column;
    border: none !important;
}
.header-subtabs li {
    text-shadow: none !important;
    background: none !important;
    border: none !important;
}
.header-subtabs li a {
    padding: 4px 2px;
    background-color: #f3f4ffff !important;
    border-radius: 10px;
    border: 1px #d0d5ffff solid;
}
.header-subtabs li a span {
    font-size: 15px !important;
    text-align: center;
}
.header-subtabs > li:nth-child(2) {
    margin-top: 10px !important;
}
#stab_active {
    height: 27px !important;
}
#counter_assignments,
#counter_materials {
    left: 80% !important;
    background-image: none;
    width: 1.5em;
    height: 1.5em;
    background-color: #5bbed6ff;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    line-height: 1.45;
}
.header-opt-logout,
#top_user_info {
    display: none !important;
}
#mtab_1 div a span,
#main-tabs-ul > .sel:nth-child(1) div a span {
    width: 82px !important;
    font-size: 0px !important;
    background: url("https://family-cdn.mykoob.lv//static/img/mykoob_logo_small.png") no-repeat;
}
